body{
  text-align: left;
}
header{
	width: 100%;
  height: 90px;
  padding-left: 5%;
  background-size:cover;
  background-color: #9eecff;
}
footer{
	width: 100%;
  min-height: 50px;
  background-size:cover;
  background-color: #9eecff;
}
#h1{
    font-family: 'Arial', Times, serif;
    font-size: 32px; 
    line-height: 2;
}
#img {
    float: left;
    height: 64px;
    padding-right: 45px;
  }
th {
  font-weight: normal;
  color: #039;
  padding: 10px 15px;
}
td {
  color: #669;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}
tr:nth-child(2n) {background: #e8edff;}
tr:nth-child(2n+1) {background: #b1beee;}
.content{
  width: 100%;
	background-color: rgba(202, 255, 253, 0.77);
  padding-left: 10px;
}
table{
  width: 400px;
  height: 200px;
}
#ol
{
  background-color:  #e8edff;
  width: 100%;
}

#table
  {
    background-color:  #e8edff;
    width: 100%;
  }

#forma
{
  background-color:  #e8edff;
  width: 100%;
}

